* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #81c9fa;
}
#img-cont{
    margin-top: 50px;
    text-align: center;
}
#img-cont img{
    width: 70px;
    height: 70px;
    background-color: #1465bb;
    padding: 2px;
    border-radius: 50%;
    margin-bottom: 10px;
}
#img-cont h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
#img-cont p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: aliceblue;
    text-shadow: 1px 3px 1px #1465bb;
}
#links-cont{
    display: grid;
    text-align: center;
    margin-top: 20px;
}
#links-cont a{
   text-decoration: none;
   color: black; 
   font-family: 'Montserrat', sans-serif;
   background-color: white;
   margin: 0 10px 10px 10px;
   border-radius: 10px 50px 10px 50px;
   padding: 15px;
}